<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Liste des Villes</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
  <h1 class="my-4">Liste des Villes</h1>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Nombre d'habitants</th>
      <th scope="col">Code du Département</th>
      <th scope="col">Nom du Département</th>
    </tr>
    </thead>
    <tbody>
    <!-- Boucle Thymeleaf pour afficher les villes -->
    <tr th:each="city : ${cities}">
      <td th:text="${city.name}"></td>
      <td th:text="${city.inhabitantsNb}"></td>
      <td th:text="${city.departmentCode}"></td>
      <td th:text="${city.departmentName}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
